<div class="paper">
  {% if include.title_url %}
  <div class="paper-title"><a href="{{ include.title_url }}">{{ include.title }}</a></div>
  {% else %}
  <div class="paper-title">{{ include.title }}</div>
  {% endif %}
  {% if include.authors %}
  <div class="paper-meta">{{ include.authors }}</div>
  {% endif %}
  {% if include.venue %}
  <div class="paper-meta">{{ include.venue }}</div>
  {% endif %}
  {% if include.tldr %}
  <p class="tldr">{{ include.tldr }}</p>
  {% endif %}
  {% if include.abstract %}
  <details class="paper-abstract">
    <summary>Abstract↓</summary>
    <p><span style="color: #6e6e6e;">{{ include.abstract }}</span></p>
  </details>
  {% endif %}
</div>


